.blackbg .col12{
	background: black;
	color: white;
	text-align: center;
	padding-top: 150px;
	font-size: 20px;
	padding-bottom: 120px;
}
.blackbg .col12 .txt{
	background: black;
	border-color: #14c0ff;
	color: white;
	border-radius: 1px;
	font-size: 15px;
	padding: 5px 70px;
	/*position: absolute;*/
}
/* .footer{
	background: lightgrey;
} */
.footer .bi{
	color: #14c0ff;
}
.footer .i{
	margin-top: 50px;
	margin-left: 100px;
}
.footer .txt{
	height: 20px; width: 200px;
}
.footer .row p{
	padding-top: 20px;
	padding-left: 110px;
	color: grey;
}